@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELLCOME TO FPT Corporation </h1>
    <p class="lead">This is the general management website of FPT Corporation used to train new staff. Since then, training a team of professional staff to serve FPT Corporation.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Login</a></p>
</div>
